<%- include('partials/header') %>

<div class='main'>
  <h2>Welcome To The Blog API Project</h2>
  
  <ul>
  <li><a href="/api/auth/login">Login or register to post new blog</a></li>
  <li><a href="/api/blogs">View all published blogs</a></li>
  </ul>
</div>

<%- include('partials/footer') %>
